/ipch
/bin-x86-dbg/
/src/ipch
/guest/*.zip
/guest/*.tar.gz
/guest/README
/guest/bzip2-1.0.6/
/guest/expat-2.0.1/
/guest/include/
/guest/jpeg-8d/
/guest/lib.win32/
/guest/lpng1510/
/guest/onig-5.9.2/
/guest/sqlite-amalgamation-3071000/
/guest/tcl/
/guest/tiff-3.8.2/
/guest/wxMSW-2.8.12/
/guest/yaml-0.1.4/
/guest/zlib-1.2.7/
/include/gura/config.h
/include/gura/\[config.h\].in
/test/result/*.result.txt
/test/50records-en.sqlite3
/test/50records-jp.sqlite3
/test/*.emf
/src/*.tar.gz
/src/Program_*/*.obj
/src/Program_*/Makefile
/src/Program_gura/gura
/src/Program_guri/guri
/src/lib/Makefile
/build
/gura-guest
msc/
gnuc/
Release/
Debug/
Release.*/
Debug.*/
.deps/
.libs/
CMakeFiles/
Makefile
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
install-deb.sh
install-rpm.sh
*~
*#
*.exe
*.obj
*.dll
*.lib
*.pdb
*.exp
*.gurd
*.pch
*.sdf
*.suo
*.idb
*.opensdf
*.vcxproj.user
*.o
*.lo
*.la
*.gch
*.so
*.so.*
*.list.txt
*.msi
*.wxs
*.zip
