/guest/*.zip
/guest/*.tar.gz
/guest/README
/guest/bzip2-1.0.6/
/guest/expat-2.0.1/
/guest/include/
/guest/jpeg-8d/
/guest/lib.win32/
/guest/lpng1510/
/guest/onig-5.9.2/
/guest/sqlite-amalgamation-3071000/
/guest/tcl/
/guest/tiff-3.8.2/
/guest/wxMSW-2.8.12/
/guest/yaml-0.1.4/
/guest/zlib-1.2.7/
msc/
Release/
Release.*/
*.exe
*.dll
*.lib
*.pdb
*.exp
*.gurd
*.pch
*.sdf
*.suo
*.vcxproj.user
