html {
  margin: 0;
  padding: 0;
}

body {
  //position: relative;
  background: white;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  //margin: 1em auto 15px auto;
  padding: 0;
  color: black;
  //width: 960px;
}

a.radio-on {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #888800;
}

a.radio-off {
  color: black;
  text-decoration: none;
}

a.link {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #888800;
}

a.link:hover, a.radio-on:hover, a.radio-off:hover {
  color: black;
  background: #ffff88;
}

p {
  line-height: 120%;
}

td.menu {
  background: #cccccc;
  padding: 0 .2em;
  width: 8em;
}

pre.code {
  font-size: 90%;
  font-family: monospace;
  background: #eeeeee;
  padding: .3em;
  border: 1px solid #aaaaaa;
}

td.description {
  padding: 1em;
}

div.menuitem:hover {
  background: #cccccc;
}

div.menuitem {
  background: #ffffff;
  border: 2px solid #888888;
  padding: .1em .5em .1em .5em;
  margin-top: .5em;
  text-align: center;
}

a.menuitem {
  text-decoration: none;
  color: #444444;
  white-space: nowrap;
  font-weight: bold;
}
