#include "stdafx.h"

#undef CreateWindow
#undef CreateMutex
#undef CreateSemaphore

Gura_BeginModuleScope(sdl2)

${renderer.RenderImplementation()}

// sdl2.test()
Gura_DeclareFunction(test)
{
}

Gura_ImplementFunction(test)
{
	return Value::Null;
}

void AssignFunctions(Environment &env)
{
	${renderer.RenderAssignment()}
	Gura_AssignFunction(test);
}

Gura_EndModuleScope(sdl2)
